{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock title %}</title>
  {% block open_graph %}
    <meta property="og:title" content="Lista de hechizos del foro de HarryLatino">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="Lista de todos los hechizos rolisticos en rol y batallas disponibles en el foro de HarryLatino.">
  {% endblock open_graph %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="https://i.imgur.com/Griqul7.png"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>
<body>
  <header class="Header">
    <a href="{% url 'Spell:spell_list' %}" class="Header-container">
    </a>
  </header>


  {% include 'spells/menu.html' %}

  {% block subMenu %}

  {% endblock %}

  {% include "spells/search.html" %}

  {% block content %}

  {% endblock content %}

  <footer class="Footer">
    Desarrollado por <a href="http://www.harrylatino.org/user/102763-bastian-karkarov-malfoy/" target="_blank">Julio
                                                                                                               Hurtado</a>
    y <a href="http://www.harrylatino.org/user/42757-uzziel-fined/" target="_blank">Kevin Morales</a> para <a
    href="http://www.harrylatino.org/" target="_blank">Foros de HarryLatino</a>
  </footer>


  <script src="{% static "js/main.js" %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>

</body>
</html>