{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    {% block open_graph %}
        <meta property="og:title" content="Lista de hechizos del foro de HarryLatino">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Lista de todos los hechizos rolisticos en rol y batallas disponibles en el foro de HarryLatino.">
    {% endblock open_graph %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="https://i.imgur.com/Griqul7.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>
    <header class="Header">
        <a href="/" class="Header-container">
            <img class="Header-image" src="https://i.imgur.com/qH0xY1I.png">
        </a>
    </header>


    <nav class="Menu">
        <ul class="Menu-list">
            {% for category in categories %}
                {% if rol %}
                    <li class="Menu-item"><a href="{% url 'Spell:spell_category_rol' category.slug %}" class="Menu-title">{{ category.name }}</a></li>
                {% else %}
                    <li class="Menu-item"><a href="{% url 'Spell:spell_category' category.slug %}" class="Menu-title">{{ category.name }}</a></li>
                {% endif %}
            {% endfor %}
                {% if rol %}
                    <li class="Menu-item"><a href="{% url 'Spell:spell_list'%}" class="Menu-title">Batallas</a></li>
                {% else %}
                    <li class="Menu-item"><a href="{% url 'Spell:spell_list_rol'%}" class="Menu-title">Rol</a></li>
                {% endif %}
        </ul>
    </nav>

    {% block subMenu %}

    {% endblock %}

    {% include "spells/search.html" %}

	{% block content %}
    
    {% endblock content %}	

    <footer class="Footer">
    	Desarrollado por <a href="http://www.harrylatino.org/user/102763-bastian-karkarov-malfoy/" target="_blank">Julio Hurtado</a> y <a href="http://www.harrylatino.org/user/42757-uzziel-fined/" target="_blank">Kevin Morales</a> para <a href="http://www.harrylatino.org/" target="_blank">Foros de HarryLatino</a>
    </footer>


    <script src="{% static "js/main.js" %}"></script>
   
</body>
</html>