{% extends 'base.html' %}

{% block title %}
    Buscar Hechizo
{% endblock %}

{% block content %}




    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="form-control" placeholder="Buscar" aria-describedby="sizing-addon1" id="busqueda">
    </div>

    <br><br>

    <div id="resultados" class="list-group">


    </div>
    <script>
    $('#busqueda').keyup(function(e){
        $("#resultados").text("");
        consulta = $("#busqueda").val();
         $.ajax({
         data: {'name': consulta},
         url: '/buscar/',
         type: 'get',
         success : function(data) {
                for (i=0;i<data.length;i++){

                    if((i % 2)==0)
                        $("#resultados").append("<a class=\"list-group-item \" href=/hechizo/"+data[i].slug+"-"+data[i].id+">"+data[i].name+"</a>");
                    else
                        $("#resultados").append("<a class=\"list-group-item list-group-item-info\" href=/hechizo/"+data[i].slug+"-"+data[i].id+">"+data[i].name+"</a>");
                }
         },
         error : function(message) {
                 $("#resultados").text("");
              }
         });
    });

    </script>



{% endblock %}