[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
diff-match-patch = "*"
django-import-export = "*"
djangorestframework = "*"
jdcal = "*"
odfpy = "*"
openpyxl = "*"
pytz = "*"
tablib = "*"
unicodecsv = "*"
xlrd = "*"
xlwt = "*"
Django = "*"
et_xmlfile = "*"
PyYAML = "*"
dj-database-url = "*"
django-cors-headers = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
