<nav class="Menu navbar navbar-expand-lg navbar-light bg-light mt-4">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="Menu-list collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for category in categories %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{ category.get_name_display }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'Spell:spell_category' category.slug %}">{{ category.name }}</a>
            <div class="dropdown-divider"></div>
            {% for range in category.ranges.all %}
              <a class="dropdown-item" href="{% url 'Spell:spell_range' range.group.slug range.slug %}">{{ range }}</a>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>