{% extends "base.html" %}


{% block title %}
	Lista de Hechizos
{% endblock title %}

{% block content %}

    <article class="Spells">
            {% for spell in spells %}
                    <a class="Spells-item" href=" {% url 'Spell:spell_detail' spell.slug %}" id="spell-{{ spell.id }}">
                        <h2 class="Spells-title">{{ spell.name }}</h2>
                        <p class="Spells-description">{{ spell.description }}</p>
                    </a>
            {% endfor %}
    </article>

{% endblock content %}