{% extends "base.html" %}


{% block title %}
	Lista de Hechizos
{% endblock title %}

{% block content %}
    <article class="Spells">
        {% for spell in spells %}
            <a class="Spells-item" href=" {% url 'Spell:spell_detail' spell.slug %}" id="spell-{{ spell.id }}">
                <h2 class="Spells-title">{{ spell.name }}</h2><span class="Spells-type">{{ spell.get_type_display }}</span>
                                                                <span class="Spells-type">{{ spell.get_method_display }}</span>

                <p class="Spells-description">
                    {{ spell.description|linebreaksbr }}
                    <br><br><strong>Forma de Invocación:</strong> {{ spell.get_object_display}}
                    <br><br><strong>Lista: </strong>
                    <ul>
                        {% for range in spell.range.all %}
                            <li>{{ range.group }}: {{ range.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </a>
        {% endfor %}
    </article>
    <div class="Pagination">
        {% if page_obj.has_previous %}
            <a class="Pagination-button"href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="Pagination-button"href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>

{% endblock content %}

{% block subMenu %}
    {% if flag %}
    <div id="libros" class="MenuLibro">
        <ul class="MenuLibro-list">
            {% for range in ranges %}
                {% if range.group == category %}
                    <li class="MenuLibro-item"><a href="{% url 'Spell:spell_range' range.group.slug range.slug %}">{{ range.name }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}