<article class="Spells-item">
  <h2 class="Spells-title">
    <a href=" {% url 'Spell:spell_detail' spell.slug %}" id="spell-{{ spell.id }}">{{ spell.name }}</a>
  </h2>
  <span class="Spells-type">{{ spell.get_type_display }}</span>
  <span class="Spells-type">{{ spell.get_method_display }}</span>

  <p class="Spells-description">
    {{ spell.description|linebreaksbr }}
    <br><br><strong>Forma de Invocación:</strong> {{ spell.get_object_display }}
    <br><br><strong>Lista: </strong>
  </p>
  <ul>
    {% for range in spell.range.all %}
      <li>{{ range.group }}: <a class="Spells-range"
                                href="{% url 'Spell:spell_range' range.group.slug range.slug %}">{{ range.name }}</a>
      </li>
    {% endfor %}
  </ul>
</article>
