{% extends "base.html" %}


{% block title %}
  Lista de Hechizos
{% endblock title %}

{% block content %}
  <section class="Spells">
    {% for spell in spells %}
      {% include 'spells/spell.html' %}
    {% endfor %}
  </section>
  <div class="Pagination">
    {% if page_obj.has_previous %}
      <a class="Pagination-button" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    {% if page_obj.has_next %}
      <a class="Pagination-button" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
  </div>

{% endblock content %}